[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Django = "*"
gunicorn = "*"
requests = "*"
"psycopg2" = "*"

[requires]
python_version = "3.6"
